{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", {
      "alias": {
        "assets": "friday/assets",
        "@": "friday/src/components",
        "router": "friday/src/router",
        "store": "friday/src/store",
        "utils": "friday/src/utils",
        "view": "friday/src/view"
      },
      "extensions": [".js", ".jsx"]
    }]
  ]
}
